
<!-- <div class="list card" ng-repeat="brand in brands">

  <a class="item item-avatar " href="#/storehome" style="display:block; position:relative;">
    <img src="{{brand.brandLogo}}">
    <h2>{{brand.brandName}}</h2>
    <img src="img/ionic.png" style=" position:absolute; display:block;top:40% ;right:5% ;width:20px;height:10px;"/>
  </a>
  <div class="item item-body">
    <div class="row">
      <div class="col col-30" ng-repeat=" brandimg in brand.brandImg">  <div class="wrap"><a ><img class="" src="{{brandimg.imgLoc}}" style="height:100%;width:100%"><p>${{brandimg.imgPric}}</p></a></div></div>
    </div>
  </div>


</div> -->
<div class="adv-banner">
<a>
  <img ng-src="img/brands/1.jpg"  height="145" width="300" />
</a>
</div>
<div class="adv-pictures">
  <ul class="fix">
<li>
  <a ng-href="#/storedetail"><img ng-src="img/brands/2.jpg"  height="145" width="146"/></a>
</li>
<li>
  <a><img ng-src="img/brands/3.jpg"  height="145" width="146"/></a>
</li>
<li>
  <a><img ng-src="img/brands/4.jpg"  height="145" width="146"/></a>
</li>
<li>
  <a><img ng-src="img/brands/6.jpg"  height="145" width="146"/></a>
</li>
<li>
  <a><img ng-src="img/brands/7.jpg"  height="145" width="146"/></a>
</li>
<li>
  <a><img ng-src="img/brands/8.jpg"  height="145" width="146"/></a>
</li>
<li>
  <a><img ng-src="img/brands/9.jpg"  height="145" width="146"/></a>
</li>
<li>
  <a><img ng-src="img/brands/10.jpg"  height="145" width="146"/></a>
</li>
<li>
  <a><img ng-src="img/brands/11.jpg"  height="145" width="146"/></a>
</li>
<li>
  <a><img ng-src="img/brands/12.jpg"  height="145" width="146"/></a>
</li>
</ul>
</div>
<style type="text/css">
    .adv-banner{width:300px;margin:0 auto;text-align:left;}
    .adv-pictures{width:300px;margin:10px auto 0px auto;}
    .adv-pictures ul li{float:left;width:146px;margin-bottom:8px;text-align:left;}
    .adv-pictures ul li:nth-child(2n){margin-left:8px;}

</style>