<!-- 商家广告 -->
<section class="adv-buy">
		<img src="img/new/1.jpg" class="">
</section>
<div class="">
	<ul>
		<li class="buy-li">
			<a href="">
				<img src="img/new/2.jpg">
				<p class="title">雅兰仕AL-101线控迷你便携 2.0USB笔记本手机平板电脑音响</p>
				<p class="buy-price"> ￥ 28.8</p>
				<p class="buy-discount">3.0 折 <label>￥98.00</label> <span> 已购买了4件</span></p>
			</a>
		</li>		
		<li class="buy-li">
			<a href="">
				<img src="img/new/3.jpg">
				<p class="title">雅兰仕AL-101线控迷你便携 2.0USB笔记本手机平板电脑音响</p>
				<p class="buy-price"> ￥ 28.8</p>
				<p class="buy-discount">3.0 折 <label>￥98.00 </label><span> 已购买了4件</span></p>
			</a>
		</li>		
		<li class="buy-li">
			<a href="">
				<img src="img/new/4.jpg">
				<p class="title">雅兰仕AL-101线控迷你便携 2.0USB笔记本手机平板电脑音响</p>
				<p class="buy-price"> ￥ 28.8</p>
				<p class="buy-discount">3.0 折 <label>￥98.00 </label><span> 已购买了4件</span></p>
			</a>
		</li>		
		<li class="buy-li">
			<a href="">
				<img src="img/new/5.jpg">
				<p class="title">雅兰仕AL-101线控迷你便携 2.0USB笔记本手机平板电脑音响</p>
				<p class="buy-price"> ￥ 28.8</p>
				<p class="buy-discount">3.0 折 <label>￥98.00 </label><span> 已购买了4件</span></p>
			</a>
		</li>
		<li class="buy-li">
			<a href="">
				<img src="img/new/6.jpg">
				<p class="title">雅兰仕AL-101线控迷你便携 2.0USB笔记本手机平板电脑音响</p>
				<p class="buy-price"> ￥ 28.8</p>
				<p class="buy-discount">3.0 折 <label>￥98.00 </label><span> 已购买了4件</span></p>
			</a>
		</li>
		<li class="buy-li">
			<a href="">
				<img src="img/new/7.jpg">
				<p class="title">雅兰仕AL-101线控迷你便携 2.0USB笔记本手机平板电脑音响</p>
				<p class="buy-price"> ￥ 28.8</p>
				<p class="buy-discount">3.0 折 <label>￥98.00 </label><span> 已购买了4件</span></p>
			</a>
		</li>
		<li class="buy-li">
			<a href="">
				<img src="img/new/8.jpg">
				<p class="title">雅兰仕AL-101线控迷你便携 2.0USB笔记本手机平板电脑音响</p>
				<p class="buy-price"> ￥ 28.8</p>
				<p class="buy-discount">3.0 折 <label>￥98.00 </label><span> 已购买了4件</span></p>
			</a>
		</li>
		<li class="buy-li">
			<a href="">
				<img src="img/new/9.jpg">
				<p class="title">雅兰仕AL-101线控迷你便携 2.0USB笔记本手机平板电脑音响</p>
				<p class="buy-price"> ￥ 28.8</p>
				<p class="buy-discount">3.0 折 <label>￥98.00 </label><span> 已购买了4件</span></p>
			</a>
		</li>
		<li class="buy-li">
			<a href="">
				<img src="img/new/10.jpg">
				<p class="title">雅兰仕AL-101线控迷你便携 2.0USB笔记本手机平板电脑音响</p>
				<p class="buy-price"> ￥ 28.8</p>
				<p class="buy-discount">3.0 折 <label>￥98.00 </label><span> 已购买了4件</span></p>
			</a>
		</li>
	</ul>
</div>

<!-- <div class="list " ng-repeat="punic in  panics">
	  <div class="item item-thumbnail-left">
	    <img src="{{punic.punicImg}}">
	    <h2>{{punic.punicInfo}}</h2>
	    <p>
	    	<div class="row">
	    		<div class="col col-40"><span style="color:red ;font-size:20px;">￥{{punic.punicNowP}}</span></div>
	    		<div class="col col-40"><span style="text-decoration:line-through">￥{{punic.punicOldP}}</span></div>
	    		<div class="col col-20"><span> {{punic.punicDisconut}}折	 </span></div>
	    	</div>
	    <div class="row" >
	    	<div class="col col-75">已有{{punic.punicNums}}人购买</div>
	    	<div class="col col-25"><button class="button button-energized buttonother" style="padding: 0 0px">去抢购</button></div>
	    </div>
	   </p>
	  </div>
</div> -->
<style type="text/css">
	.adv-buy{
  text-align: center;
	}
	.adv-buy img{
		width: 100%;
min-height: 135px;
	}
	.buy-li{
		border-top: 1px solid #dcdcdc;
		border-bottom: 1px solid #dcdcdc;
		padding-left: 100px;
		height: 120px;
		position: relative;
	}
	.buy-li a img{
        position: absolute;
        top:10px;
        left: 5px;
		width: 85px;
		height: 90px;
		border: 1px solid #dcdcdc;
	}
	.buy-li a label{
				font-size: 12px;
		text-decoration: line-through;
	}
	.title{
	height: 30px;
line-height: 15px;
overflow: hidden;
margin-top: 10px;
	}
	.buy-price{
margin-top: 10px;
font-size: 16px;
color: #ff4800;
	}
	.buy-discount{
		font-size: 12px;
		color: #a2a2a2;
		margin-left: 5px;
		margin-top: 12px;
		position: relative;
       
	}
	.buy-discount span{
		position: absolute;
        bottom:0px;
        right: 5px;
	}
</style>