<div ng-controller="CarouselDemoCtrl" style="background-color:rgb(242,242,242)">
  <div style="height:170px;">
  <ion-slide-box style="height:100%">
      <ion-slide>
          <img src="img/new/home/1.jpg"/>
      </ion-slide>
      <ion-slide>
          <img src="img/new/home/2.jpg"/>
      </ion-slide>
      <ion-slide>
          <img src="img/new/home/3.jpg"/>
      </ion-slide>     
       <ion-slide>
          <img src="img/new/home/4.jpg"/>
      </ion-slide>     
       <ion-slide>
          <img src="img/new/home/2.jpg"/>
      </ion-slide>
  </ion-slide-box>
  </div>
  <div class="home-baner w">
    <ul>
      <li>
        <a href="">
          <img src="img/new/home/5.jpg">
        </a>
        <a href="">
          <img src="img/new/home/6.jpg">
        </a>
        <a href="">
          <img src="img/new/home/7.jpg">
        </a>
      </li>
    </ul>
  </div>
  <!-- 汽车用品 -->
  <div class="debibox w">
    <div class="boxtitle">
      <h2>首届汽车用品节</h2>
    </div>
    <div class="picOne ">
      <a href="">
        <img src="img/new/home/8.jpg">
      </a>
    </div> 
    <div class="clear">
    <div class="picTow fl">
      <a href="">
        <img src="img/new/home/9.jpg">
      </a>
    </div> 
    <div class="picTow fr">
      <div class="picThree">
        <a href="">
          <img src="img/new/home/10.jpg">
        </a>
      </div>  
      <div class="picThree">
        <a href="">
          <img src="img/new/home/11.jpg">
        </a>
      </div>
    </div>
  </div>
  </div>
  <!-- 逛优惠 -->
    <div class="debibox w">
    <div class="boxtitle">
      <h2>逛优惠</h2>
    </div>
    <div class="picOne ">
      <a href="">
        <img src="img/new/home/20.jpg">
      </a>
    </div> 
     <div class="clear">
    <div class="picTow fl">
      <a href="">
        <img src="img/new/home/21.jpg">
      </a>
    </div> 
    <div class="picTow fr">
      <div class="picThree">
        <a href="">
          <img src="img/new/home/22.jpg">
        </a>
      </div>  
      <div class="picThree">
        <a href="">
          <img src="img/new/home/23.jpg">
        </a>
      </div>
    </div>
    </div>
  </div>
  <!-- 发现好货 -->
    <div class="debibox w"> 
    <div class="boxtitle">
      <h2>发现好货</h2>
    </div>
    <div class="picOne ">
      <a href="">
        <img src="img/new/home/30.jpg">
      </a>
    </div> 
     <div class="clear">
    <div class="picTow fl">
      <a href="">
        <img src="img/new/home/31.jpg">
      </a>
    </div> 
    <div class="picTow fr">
      <div class="picThree">
        <a href="">
          <img src="img/new/home/32.jpg">
        </a>
      </div>  
      <div class="picThree">
        <a href="">
          <img src="img/new/home/33.jpg">
        </a>
      </div>
    </div>
    </div>
  </div>
  <!-- 数码家电 -->
    <div class="debibox w">
    <div class="boxtitle">
      <h2>数码家电</h2>
    </div>
    <div class="picOne ">
      <a href="">
        <img src="img/new/home/40.jpg">
      </a>
    </div> 
     <div class="clear">
    <div class="picTow fl">
      <a href="">
        <img src="img/new/home/41.jpg">
      </a>
    </div> 
    <div class="picTow fr">
      <div class="picThree">
        <a href="">
          <img src="img/new/home/42.jpg">
        </a>
      </div>  
      <div class="picThree">
        <a href="">
          <img src="img/new/home/43.jpg">
        </a>
      </div>
    </div>
    </div>
  </div>
    <!-- 私人定制 你的美丽 -->
    <div class="debibox w">
    <div class="boxtitle">
      <h2>私人定制 你的美丽</h2>
    </div>
    <div class="picOne ">
      <a href="">
        <img src="img/new/home/50.jpg">
      </a>
    </div> 
     <div class="clear">
    <div class="picTow fl">
      <a href="">
        <img src="img/new/home/51.jpg">
      </a>
    </div> 
    <div class="picTow fr">
      <div class="picThree">
        <a href="">
          <img src="img/new/home/52.jpg">
        </a>
      </div>  
      <div class="picThree">
        <a href="">
          <img src="img/new/home/53.jpg">
        </a>
      </div>
    </div>
    </div>
  </div>
     <!-- 吃喝玩乐 -->
    <div class="debibox w">
    <div class="boxtitle">
      <h2>吃喝玩乐</h2>
    </div>
    <div class="picOne ">
      <a href="">
        <img src="img/new/home/60.jpg">
      </a>
    </div> 
     <div class="clear">
    <div class="picTow fl">
      <a href="">
        <img src="img/new/home/61.jpg">
      </a>
    </div> 
    <div class="picTow fr">
      <div class="picThree">
        <a href="">
          <img src="img/new/home/62.jpg">
        </a>
      </div>  
      <div class="picThree">
        <a href="">
          <img src="img/new/home/63.jpg">
        </a>
      </div>
    </div>
  </div>
  </div>
</div>
<style type="text/css">
.clear{
  width: 300px;
  height: 150px;
}
.debibox{
 /* height: auto;*/
  
  background-color: #fff;
}
  .home-baner{

 -webkit-box-sizing:border-box;
 padding:5px 5px;
  }
  .w{
    width: 320px !important;
    margin:20px auto;
  
  }
  .home-baner li{
    display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack: center;
-webkit-box-align: center;
  }
  .home-baner li a{
  display: block;
height: 98px;
line-height: 98px;
-webkit-box-flex: 1 !important;
word-wrap: break-word;
word-break: break-all;
text-align: center;
border: 1px solid #E1DCCB;
border-radius: 2px;
margin: 0 3px 3px 0;
background: #fff;
font-size: 13px;
overflow: hidden;
  }
  .home-baner li a img{
width: 98px;
height: 98px;
  }
  .adv-box{
    width: 100%;
height: auto;
margin: 10px auto 0;
background-color: #fff;
padding-bottom: 6px;

  }
  .boxtitle{
height: 40px;
line-height: 40px;
text-align: center;
font-size: 14px;
color: #313131;
  }
  .boxtitle h2{
    padding-top:15px;
  }
  .fl{
    float: left;
  }
  .fr{
    float: right;
  }
  .picOne{
    height: 150px;
    margin: 0 auto;
  }
  .picOne img{
    width: 300px;
height: 150px;
  }
  .picTow{
    height: 148px;
    width: 148px;
  }
  .picTow img{
    width: 148px;
height: 148px;
  }
  .picThree{
    width: 148px;
height: 72px;
margin: 4px 0 4px 0px;
overflow: hidden;
  }
  .picThree img{
        width: 148px;
height: 72px;
  }
  </style>