<ion-view title="">
<ion-nav-bar ng-controller="MyCtrl">
    <i class="ion-arrow-left-c" ng-click="goBack()"></i> Back
</ion-nav-bar>
<ion-content>
<div  style="background:rgb(242,242,242)">
 <ul class="view-more-con fix">
        <li class="view-more down" id="mores">
            唯一指定为中国航天员提供地面训练用表与执行太空探索任务用表；飞亚达进驻瑞士巴塞尔钟表展1号馆——国际品牌馆，成为唯一一个源自中国的国际腕表品牌。
        </li>
        <li class="arrow down" onclick="tshow(this, 'mores')"><span></span></li>
    </ul>
</div>
<div class="layout" >
	<ul class="debiflexbox">
	<li class="debiflexchild">
		<a><img ng-src="img/brands/20.jpg" width="100" height="100"/>
	    <div class="adv-info">
		<p class="debiflexchildp">飞亚达(FIYTA)日历显示钨钢表圈棕色真牛皮表带苏宁专供款机械男士手表DGA0030.WBR</p>
		<span>￥ 2992</span>
	</div>
        </a>
	</li>	
	<li class="debiflexchild">
		<a><img ng-src="img/brands/21.jpg" width="100" height="100"/>
	    <div class="adv-info">
		<p>飞亚达(FIYTA)苏宁专供机械手表日历显示钨钢表圈黑色真牛皮表带男士手表DGA0030.WBB</p>
		<span>￥ 999</span>
		<div>
        </a>
	</li>
</ul>
	<ul class="debiflexbox">
	<li class="debiflexchild">
		<a><img ng-src="img/brands/22.jpg" width="100" height="100"/>
	    <div class="adv-info">
		<p class="debiflexchildp">飞亚达(FIYTA)日历显示钨钢表圈棕色真牛皮表带苏宁专供款机械男士手表DGA0030.WBR</p>
		<span>￥ 2992</span>
	</div>
        </a>
	</li>	
	<li class="debiflexchild">
		<a><img ng-src="img/brands/23.jpg" width="100" height="100"/>
	    <div class="adv-info">
		<p>飞亚达(FIYTA)苏宁专供机械手表日历显示钨钢表圈黑色真牛皮表带男士手表DGA0030.WBB</p>
		<span>￥ 999</span>
		<div>
        </a>
	</li>
</ul>
	<ul class="debiflexbox">
	<li class="debiflexchild">
		<a><img ng-src="img/brands/24.jpg" width="100" height="100"/>
	    <div class="adv-info">
		<p class="debiflexchildp">飞亚达(FIYTA)日历显示钨钢表圈棕色真牛皮表带苏宁专供款机械男士手表DGA0030.WBR</p>
		<span>￥ 2992</span>
	</div>
        </a>
	</li>	
	<li class="debiflexchild">
		<a><img ng-src="img/brands/25.jpg" width="100" height="100"/>
	    <div class="adv-info">
		<p>飞亚达(FIYTA)苏宁专供机械手表日历显示钨钢表圈黑色真牛皮表带男士手表DGA0030.WBB</p>
		<span>￥ 999</span>
		<div>
        </a>
	</li>
</ul>	
</div>
</ion-content>
</ion-view>
<style type="text/css">
.wbox{display:-webkit-box;}
.wbox-flex{-webkit-box-flex:1 !important;word-wrap:break-word;word-break:break-all;}
.bbox{-webkit-box-sizing:border-box;}
.wbox li p{
height: 24px;
line-height: 1.2;
overflow: hidden;
color: #333;
background: #e5e5e5;
padding: 5px;
}
.debiflexbox{
	display: -webkit-flex;
	display: flex;

}
.debiflexchild{
	-webkit-flex:1;
	border:5px solid rgb(242,242,242);
}

.debiflexchild span{
	color:red;
}
.adv-info{
	background: #e5e5e5;
}
</style>