<ion-view title="物流查询">
 <ion-nav-bar align-title="center" class="bar-stable nav-title-slide-ios7">
<!--  <h1 class="title">物流查询</h1> -->
  <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
  </ion-nav-bar>
<ion-content class="padding has-header has-tabs" >
<div class="card ">
	 <a class="item item-thumbnail-left myposition" href="#/tab/logisticsDetail"  >
      <img src="img/wine.png">
      <h2>Pretty Hate Machine</h2>
      <p class="huanhang">Nine Inch Nails<br/>实付款：<span class="mygreen">16878</span>元</p>
      <i class="icon ion-ios7-fastforward-outline right-position"></i>
    </a>
    <a class="item" style="padding:6px;"><h2>最新物流：</h2>
    	<div class="row">
    		<div class="col col-67 "><p class="huanhang mygreen">浙江省 杭州市 西湖区  西港去 快递公司已经扫描</p></div>
    		<div class="col col-25 mygreen" >2014-10-27   <br/> 14:09:11</div>
    	</div>
    </a>
</div>
<div class="card ">
	 <a class="item item-thumbnail-left" href="#/tab/logisticsDetail">
      <img src="img/wine.png">
      <h2>Pretty Hate Machine</h2>
       <p class="huanhang">Nine Inch Nails<br/>实付款：<span class="mygreen">16878</span>元</p>
       <i class="icon ion-ios7-fastforward-outline right-position"></i>
    </a>
    <a class="item" style="padding:6px;">
    	<h2>最新物流：</h2>
    	<div class="row">
    		<div class="col col-67 "><p class="huanhang mygreen">浙江省 杭州市 西湖区  西港去 快递公司已经扫描</p></div>
    		<div class="col col-25 mygreen">2014-10-27 &nbsp<br/> 14:09:11</div>
    	</div>
    	</a>
</div>
</ion-content>
</ion-view>