

<ion-view title="更多">
 <ion-header-bar align-title="center" class="bar-stable ">
  <h1 class="title" style="color:green">更多</h1>
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
</ion-header-bar>
  <ion-content class="padding">
<div class="list">
  <div>
  <a class="item item-icon-left item-icon-right" href="#/tab/myorder" style="position:relative;">
    <i class="icon ion-ios7-cart"></i>
    我的订单
    <i class="icon ion-ios7-arrow-right"></i>
   <!--  <span class="badge badge-assertive">{{moreiofo.bookmarks}}</span> -->
    <!--  <div style="position:absolute;top:30%;right:0px;" ><span>goto</span></div> -->
  </a>
  <a class="item item-icon-left item-icon-right" href="#/tab/myaccout">
    <i class="icon ion-person"></i>
    帐号
   <i class="icon ion-ios7-arrow-right"></i>
  </a> 

</div>
   <a class="item item-icon-left" href="#">
    <i class="icon ion-ios7-checkmark"></i>
    服务承诺
  </a> 
   <a class="item item-icon-left" href="#">
    <i class="icon ion-chatbubble-working"></i>
    关于POP100
  </a>
    <a class="item item-icon-left" href="#" ng-show="iflogin1">
    <i class="icon ion-power"></i>
    退出
  </a>
</div>
  </ion-content>
</ion-view>
