<ion-view title="账户">
 <ion-nav-bar align-title="center" class="bar-stable nav-title-slide-ios7">
<!--  <h1 class="title">物流查询</h1> -->
  <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
  </ion-nav-bar>
<ion-content>
<div class="list list-inset">
	  <a class="item item-icon-left" href="#">
    <i class="icon ion-person"></i>
    名称
    <span class="item-note">
    {{moreiofo.name}}
    </span>
  </a> 
  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios7-telephone"></i>
    手机
    <span class="item-note">
     {{moreiofo.tel}}
    </span>
  </a>
   <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    邮箱
    <span class="item-note">
     {{moreiofo.email}}
    </span>
  </a> 
  <a class="item item-icon-left" href="#">
    <i class="icon ion-location"></i>
    地址
    <span class="item-note">
     {{moreiofo.address}}
    </span>
  </a> 
  <a class="item item-icon-left" href="#">
    <i class="icon ion-social-usd"></i>
    支付
    <span class="item-note">
     {{moreiofo.pay}}
    </span>
  </a> 
  <a class="item item-icon-left" href="#">
    <i class="icon ion-social-yahoo"></i>
    财付通
    <span class="item-note">
      {{moreiofo.paybyCAI}}
    </span>
  </a> 
   <a class="item item-icon-left" href="#">
    <i class="icon  ion-social-bitcoin"></i>
    支付宝
    <span class="item-note">
     {{moreiofo.paybyBAO}}
    </span>
  </a> 
</div>
</ion-content>
</ion-view>