<ion-view title="我的订单">
 <ion-nav-bar align-title="center" class="bar-stable ">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
  </ion-nav-bar>
<ion-content class="padding" has-header="true">
<div class="list list-inset">
	<a href="#/tab/checkLogistics" class="item item-icon-left item-icon-right"><i class="icon ion-model-s"></i>查物流 <span class="item-note" style="color:green">（2）</span></a>
	<a href="" class="item item-icon-left item-icon-right">待付款</a>
	<a href="" class="item item-icon-left item-icon-right">待收货</a>
	<a href="" class="item item-icon-left item-icon-right"><i class="icon ion-android-timer"></i>待发货<span class="item-note" style="color:green">（2）</span></a>
	<a href="" class="item item-icon-left item-icon-right"><i class="icon ion-compose"></i>待评价<span class="item-note" style="color:green">（2）</span></a>
	<a href="" class="item item-icon-left item-icon-right">退款订单</a>
	<a href="" class="item item-icon-left item-icon-right">所有订单</a>
</div>
</ion-content>
</ion-view>